src/RMeCab.so
src/RMeCab.o
src/Ngram.o  
src/RMeCabC.o
src/RMeCabText.o
src/docMatrixDF.o
src/NgramDF.o
src/RMeCabDoc.o
src/collocate.o
src/docNgram2.o
src/NgramDF2.o
src/RMeCabFreq.o
src/docDF.o
src/docNgramDF.o
src/RMeCabMx.o
src/docMatrix2.o
src/setMeCabMap.o
src/symbols.rds
